.lookup {
  /*background: orange;*/
  /* Grid */
  @include span(14 of 14);
  @include mq($from: tablet) {
    @include span(10 of 14);
    padding-right: 1.5rem;
    padding-left: 0;
  }
  @include mq($from: desktop) {
    @include span(5 of 14);
    padding-right: 1.5rem;
    padding-left: 0; 
  }
  h3 {
    
    margin-top: 0;
    @include mq($from: desktop) {
      margin-bottom: 1rem; 
    }
  }
  form {
    position: relative;
    .load-button {
      position: absolute;
      right:0;
      top:-44px;
      opacity: 0;
    }
  }
  input.search{
    @include span(10 of 14);
    padding-left: .5rem;
    border-radius: .25rem 0 0 .25rem;
    margin-bottom: 0;
    /*&:focus {background:#f2f2f2;}*/
  }
  .button.postfix {
    @include span(4 of 14);
    margin-left: -1px !important; 
    padding: 0.4rem 1rem; 
    position: absolute; 
    right:0;
    text-align: center;
    border-left:none;
  }
  .not_sure {
    margin-bottom: 0;
    @include span(14 of 14);        
    font-size: .8125rem;
    padding: .625rem 0;
    @include mq($from: wide) {
      margin-bottom: 1rem;
    }
  }
}