.item_entry_form {
  @include span(14 of 14);
  @include mq($from: tablet) {
    @include span(12 of 14);
  }
  @include mq($from: desktop) {
    @include span(6 of 14);
  }
  @include mq($from: wide) {
    @include span(5 of 14);
  }
  form {
    margin-top:.5rem;
    @include mq($from: tablet) {
      margin-top:1.25rem;
    }
    @include mq($from: desktop) {
      margin-top: 1.5rem;
    }
  }
}