<a href="/"><img src="images/hdsmith-logo.svg" class="logo"></a>
<ul>
  <li class="hide-sm show-lg"><a href="{{ params.homeUrl }}">Home</a></li>
  <li class="hide-sm show-lg active"><a href="">Pattern Library</a></li>
  <li class="hide-lg"><a class="left-off-canvas-toggle">Menu</a></li>
</ul>
<ul class="meta">   
    <li class="hide-sm show-lg"><small>1000000019 CUSTOMER ACCOUNT NAME</small></li>        
    <li class="hide-sm show-lg"><a href=""><i class="fa fa-fw fa-user"></i>username</a></li>
    <li class="hide-sm show-lg"><a href=""><i class="fa fa-fw fa-phone-square"></i>Contact</a></li>
    <li class="hide-sm show-lg"><a href=""><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>
    <li class="hide-lg"><a class="right-off-canvas-toggle" href="#"><i class="fa fa-ellipsis-v"></i></a></li>
</ul>