<ul class="off-canvas-list">
  <li>
    <a href="#">Home</a>
  </li>
  <li class="has-submenu">
    <a href="#">Pattern Library</a>
    <ul class="left-submenu">
      <li class="back"><a href="#">Back</a></li>
      <li><a href="">Logo &amp; Color</a></li>
      <li><a href="">Typography</a></li>
      <li><a href="">Content</a></li>
      <li><a href="">Components</a></li>
      <li><a href="">Buttons &amp; Icons</a></li>
      <li><a href="">Form Elements</a></li>
      <li><a href="">UX</a></li>
    </ul>
  </li>
</ul>