<ul class="ul1">
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Logo &amp; Color<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Typography<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Content<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Components<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Buttons &amp; Icons<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">Form Elements<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
  <li class="li1" class="active">
    <a href="javascript:;" class="dropdown-btn a1">UX<i class="fa fa-angle-down"></i></a>
    <ul class="ul2">
      <li class="li2"><a href="" class="a2">Sub Menu Item 1</a></li>
    </ul>
  </li>
</ul>