.spinner {
    > div {
    background: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    img {
      position: absolute;
      left:50%; margin-left: -15px;
      top:50%; margin-top: -15px;
      z-index: 999;
      max-width: 33px;
    }
  }
}