/* H. D. Smith Color Palate */
$lightBlue:#7aaed8; 
$mediumBlue:#5D9BD4;
$blue:#3e7bb8;
$actionBlue:#2a83dd; 
$darkBlue:#00517c;
$brandGreenBright:#09973B;
$brandGreenLight:#1D8342;
$brandGreenPale:#35824B;
$brandGreen:#00703c;
$mediumGreen:#62AA51;
$lightGreen:#73B254;
$limeGreen:#A8D160;
$actionGreen:#94C146;
$textLight:#999999;
$textGrey:#555555;
$textDark:#333333;
$ghostGrey:#F6F6F6;
$lightGrey:#EEEEEE;
$white:#ffffff; 

/* Notification Colors */
$successGreen:rgba(61,192,77,1);
$warningYellow:rgba(245,170,56,1);
$infoBlue:rgba(42,131,221,1);
$errorRed:rgba(197,40,45,1);

$lato:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;